.input {
   height: 65px;
   border-radius: 50px;
   margin-bottom: 30px;
   display: flex;
   justify-content: flex-end;
   font-weight: bold;
   font-size: 30px;
   background-color: white;
   padding: 15px 25px 11px 11px;
   margin: 1px solid #888;
   box-shadow: -1px 4px 1px 1px white;
}